In [1]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [3]:
df_taxi = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
df_taxi.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
df_taxi.to_sql(name="zones", con=engine, if_exists="replace")

In [5]:
df = pd.read_csv("yellow_tripdata_2021-01.csv")

C:\Users\User\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [17]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [18]:
df = next(df_iter)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

In [20]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

Wall time: 24.4 s

In [21]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    t_end = time()
    print('insert another chunk... took %.3f sec'%(t_start - t_end))

insert another chunk... took -30.768 sec
insert another chunk... took -34.480 sec
insert another chunk... took -36.818 sec
insert another chunk... took -31.961 sec
insert another chunk... took -28.453 sec
insert another chunk... took -33.026 sec
insert another chunk... took -25.940 sec
insert another chunk... took -25.797 sec
insert another chunk... took -28.109 sec
insert another chunk... took -25.241 sec
insert another chunk... took -26.010 sec

C:\Users\User\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

insert another chunk... took -25.435 sec
insert another chunk... took -17.019 sec

StopIteration: